*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100svh;
    background-image: url(../backimg.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
  
}
a,.terms{
    color: blue;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
    border: none;
}
nav{
 margin-bottom: 60px ;
 color: black;
}
/*LOG IN*/

.loginForm,.signupForm,.forgotpasswordForm,.newpasswordForm{
    background-color: transparent;
    backdrop-filter: blur(20px);
    /*width: calc(100% - 1050px);*/
    width: 400px;
    color: black ; 
    border: black solid 2px;
    border-radius: 13px;

}
 form{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
h1{
    font-size: 40px;
} 
.inputBox {
    width: 100%;
    position: relative;
    
}
 .inputBox input{
    width: 100%;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border: black 2px solid ;
    border-radius: 40px;
    color: black;
    font-size: 16px;
}
 input::placeholder{
    color: black;
}
.inputBox i{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.loginForm .rememberForgot,.signupForm .rememberTerms{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rememberForgot label input,.rememberTerms label input{
    margin-right: 7px;
    accent-color: black;
}

.btn{
    width: 100%;
    padding: 10px;
    background-color: rgba(240, 136, 136, 0.573);
    border-radius: 40px;
    outline: none;
    border: rgba(255, 255, 255, 0.573) solid 2px;
    font-size: 15px;
}
.btn:hover{
    background-color: white;
    cursor: pointer;
}

/*signup*/

.name{
    display: flex;
    gap: 10px;
    width: 100%;
}
.terms:hover{
    cursor: pointer;
}

/* Terms and conditions  */

.termsConditions{
    background-color: rgba(255, 255, 255);
    width: calc(100% - 800px);
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    justify-content: center;
}
.appear{
    display: flex;
}
.termsContainer .head{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    gap: 15px;
    border-bottom:solid 1px gray ;

}
.termsContainer .head span {
    background-color: darkblue;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: black;
}
.termsContainer .text{
    height: 70%;
    overflow: auto;
    padding: 20px 40px;
    border-bottom:solid 1px gray ;
}
.termsConditions .btns{ 
    height: 15%;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    gap: 15px;
    width: 100%;
}
.termsConditions .btns .declineBtn,.termsConditions .btns .acceptBtn{
    font-size: 18px;
    padding: 15px 140px;
    border-radius: 40px;
}
.termsConditions .btns .declineBtn,.termsConditions .btns .acceptBtn:hover{
    cursor: pointer;
}

.termsConditions .btns .declineBtn{
    color: darkblue;
    border: darkblue 1px solid;
}
.termsConditions .btns .acceptBtn{
    background-color: darkblue;
    color: black;
    border: darkblue 1px solid;
}